/*375px / 16px = 23.5em*/
/*1440px / 16px = 90em*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e0e8ff;
  background-image: url(/images/pattern-background-desktop.svg);
  background-size: cover;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__container {
  background-color: #fff;
  margin: 0 1.75rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 8px 16px 2px rgba(114, 128, 167, 0.2);
          box-shadow: 0 8px 16px 2px rgba(114, 128, 167, 0.2);
}

.main__img {
  border-radius: 1.25rem 1.25rem 0 0;
}

.hero__data {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  padding: .25rem 1rem;
  font-weight: 900;
  font-size: 1.25rem;
}

.hero__copy {
  padding: 1rem 1rem;
  color: #7280a7;
  text-align: center;
  line-height: 1.75rem;
  font-weight: 500;
}

.plan__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  margin: 0 1.5rem 1rem 1.5rem;
  padding: .75rem;
  border-radius: .75rem;
  background-color: #f5f7ff;
  font-size: .8rem;
  gap: .5rem;
}

.plan__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.plan__title {
  font-weight: 900;
}

.plan__price {
  font-weight: 500;
  color: #7280a7;
}

.plan__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.plan__link:hover {
  color: #4234e2;
}

.order__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order__button-active {
  background-color: #3829e0;
  color: #fff;
  padding: 1rem 1.25rem;
  margin: .25rem 1.5rem;
  border-radius: .75rem;
  -webkit-box-shadow: 0 8px 16px 4px rgba(56, 41, 224, 0.25);
          box-shadow: 0 8px 16px 4px rgba(56, 41, 224, 0.25);
  font-weight: 900;
  -webkit-transition: .2s;
  transition: .2s;
}

.order__button-active:hover {
  background-color: #4234e2;
}

.order__button-cancel {
  color: #7280a7;
  margin: 1.5rem;
  font-weight: 900;
  -webkit-transition: .2s;
  transition: .2s;
}

.order__button-cancel:hover {
  color: #1f2f56;
}

.attribution {
  margin: .5rem;
  text-align: center;
  font-size: .75rem;
}

.attribution a {
  text-decoration: none;
}

@media screen and (min-width: 23.5em) {
  .main__container {
    width: 25rem;
  }
}
/*# sourceMappingURL=style.css.map */